<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Xcaret - <%= result.tituloH1 %></title>
</head>

<body class="body-app">
    <div id="app">
        <app-component :page-data='<%- JSON.stringify(result) %>'></app-component>
    </div>
</body>

</html>