<template>
    <div class="atraction my-3">
        <div class="row d-flex align-items-center">
            <div class="col-lg-5 col-md-6 text-center text-md-left">
                <a :href="atractivo.link">
                    <img :src="atractivo.img" @error="alternativeImg" class="img-fluid" :alt="atractivo.titulo">
                </a>
            </div>
            <div class="col-lg-7 col-md-6 mt-sm-4 mt-md-0">
                <h4 class="text-center text-md-left">{{atractivo.titulo}}</h4>
                <p>{{atractivo.desc}}</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "atractivo",
        props: {
            atractivo: Object
        },
        data: function(){
            return {}
        },
        methods: {
            /* Observe que en la URL las imagenes no cargan, me redirigen a otro sitio
             * para este caso cree esta funcion que se llama en caso de no poder cargar imagen
              * genera una imagen aleatoria usando Lorem Flickr de Xcaret */
            alternativeImg: function(event){

                var randomInt = Math.floor((Math.random() * 100) + 1);

                event.target.src = "https://loremflickr.com/320/240/xcaret?random=" + randomInt;
            }
        }
    }
</script>

<style scoped>

</style>