<template>
    <footer id="footer" class="w-100 x-bg-dark text-white py-3">
        <div class="container">
            <h5 class="my-4">Atencion a Clientes/Ventas</h5>

            <div class="row my-4 telefonos">
                <div class="col-lg-4 col-sm-6 my-lg-0 my-3">
                    <p>Cancún: 000-000-0000</p>
                    <p>Brasil: 000-000-0000</p>
                    <p>Colombia: 000-000-0000</p>
                </div>
                <div class="col-lg-4 col-sm-6 my-lg-0 my-3">
                    <p>Playa del Carmen: 000-000-0000</p>
                    <p>Argentina: 000-000-0000</p>
                    <p>España: 000-000-0000</p>
                </div>
                <div class="col-lg-4 col-sm-6 my-lg-0 my-3">
                    <p>USA/Canadá: 000-000-0000</p>
                    <p>Venezuela: 000-000-0000</p>
                    <p>Chile: 000-000-0000</p>
                </div>
            </div>

            <div class="privacidad">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer purus neque, posuere ac accumsan quis, gravida vitae neque.</p>
                <p>Sed tristique mi libero, vel facilisis ipsum ultricies nec. Nulla bibendum in urna vehicula bibendum. </p>
                <p>©Mauris fringilla auctor vulputate. </p>
            </div>
        </div>
    </footer>
</template>

<script>
    export default {
        name: "footer"
    }
</script>

<style scoped>

</style>