<template>
    <div id="footer-top" class="py-4 text-white">
        <div class="container park-logos">
            <div class="w-100 py-2 mb-2 text-center">
                <h3 class="xcaret-brand">experiencias xcaret</h3>
            </div>
            <div class="row">
                <div class="park-logo col-lg-4 col-sm-6 text-center my-lg-2 my-4">
                    <img src="/images/logo_xelha.svg" class="img-fluid" alt="">
                </div>
                <div class="park-logo col-lg-4 col-sm-6 text-center my-lg-2 my-4">
                    <img src="/images/logo_xenotes.svg" class="img-fluid" alt="">
                </div>
                <div class="park-logo col-lg-4 col-sm-6 text-center my-lg-2 my-4">
                    <img src="/images/logo_xenses.svg" class="img-fluid" alt="">
                </div>
                <div class="park-logo col-lg-4 col-sm-6 text-center my-lg-2 my-4">
                    <img src="/images/logo_xichen.svg" class="img-fluid" alt="">
                </div>
                <div class="park-logo col-lg-4 col-sm-6 text-center my-lg-2 my-4">
                    <img src="/images/logo_xoximilco.svg" class="img-fluid" alt="">
                </div>
                <div class="park-logo col-lg-4 col-sm-6 text-center my-lg-2 my-4">
                    <img src="/images/logo_xplor.svg" class="img-fluid" alt="">
                </div>
            </div>

            <div class="row mt-4 sitemap">
                <div class="col-lg-4 col-6 my-lg-0 my-3">
                    <h5>ACERCA DE</h5>
                    <ul class="mt-3">
                        <li><a href="#">Nuestra Empresa</a></li>
                        <li><a href="#">Bolsa de trabajo</a></li>
                        <li><a href="#">Conoce Quintana Roo</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-6 my-lg-0 my-3">
                    <h5>DE INTERES</h5>
                    <ul class="mt-3">
                        <li><a href="#">Afiliados</a></li>
                        <li><a href="#">Agencias Online</a></li>
                        <li><a href="#">Grupos</a></li>
                        <li><a href="#">Bodas</a></li>
                        <li><a href="#">Avión + Hotel + Transportación</a></li>
                        <li><a href="#">Sala de Prensa</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-6 my-lg-0 my-3">
                    <h5>LEGAL</h5>
                    <ul class="mt-3">
                        <li><a href="#">Términos de uso</a></li>
                        <li><a href="#">Agencias Online</a></li>
                        <li><a href="#">Aviso de privacidad</a></li>
                        <li><a href="#">Mapa de sitio</a></li>
                        <li><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "footer_top"
    }
</script>

<style scoped>

</style>