<template>
    <div class="gallery-video-cont">
        <div class="tab-content">
            <div v-if="current == 'video'" class="tab-pane gallery-video-tab fade" :class="[current == 'video' ? 'show active' : '']">
                <iframe class="tab-frame" :src="parseYoutube">
                </iframe>
            </div>
            <div v-if="current == 'gallery'" class="tab-pane gallery-video-tab fade":class="[current == 'gallery' ? 'show active' : '']">
                <div id="gallerySlider" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <div v-for="(image, index) in galeria" :key="index" :class="[index == 0 ? 'active' : '', 'carousel-item']">
                            <img class="d-block mx-auto" :src="image.source" alt="image.alt">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#gallerySlider" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#gallerySlider" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
            <div v-if="current == 'map'" class="tab-pane gallery-video-tab fade" :class="[current == 'map' ? 'show active' : '']">
                <iframe class="tab-frame" :src="mapa">
                </iframe>
            </div>
        </div>
        <ul class="nav nav-pills nav-fill gallery-video-nav">
            <li v-if="current != 'video'" class="nav-item py-2">
                <a @click="hideOpts('video')" class="nav-link text-white active"><i class="fa fa-video"></i> Ver video</a>
            </li>
            <li v-if="current != 'gallery'" class="nav-item py-2">
                <a @click="hideOpts('gallery')" class="nav-link text-white"><i class="fa fa-image"></i> Ver imágenes</a>
            </li>
            <li v-if="current != 'map'" class="nav-item py-2">
                <a @click="hideOpts('map')" class="nav-link text-white"><i class="far fa-eye"></i> Vista 360'</a>
            </li>
        </ul>
    </div>
</template>

<script>
    export default {
        name: "gallery_video",
        props: {
            video: String,
            galeria: Array,
            mapa: String
        },
        data: function(){
            return {
                current: 'video'
            }
        },
        methods: {
            /* Para solo mostrar dos opciones en el tab menu, hice manualmente los tab-panel de bootstrap con esta funcion
             * y utilizando el v-model current */
            hideOpts: function(option){
                this.current = option;
            },
        },
        computed: {
            /* Para generar el iframe de YouTube se cambio la forma en que este lo hace
             * esta funcion convierte la URL del JSON cambiando la url */
            parseYoutube: function(){
                //Para utilizar en ifram de video se reemplaza watch con regex por /embed/
                var filter = /v=([^&]*)/gi;

                //Se obtiene el id original del video
                var video_id = filter.exec(this.video)[1];

                //Se convierte a modo embed
                var result = 'https://www.youtube.com/embed/' + video_id;

                return result;
            }
        }
    }
</script>

<style scoped>

</style>