<template>
    <div id="header-top" class="x-bg-dark sticky-top text-white w-100 py-2">
        <div class="container d-flex justify-content-md-end">
            <nav class="navbar navbar-expand-md">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fas fa-bars text-white"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fa fa-phone fa-flip-horizontal mr-1"></i> ATENCION AL
                                CLIENTE</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-user-circle mr-1"></i> ACCEDER / REGISTRAR</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-shopping-cart mr-1"></i> CARRITO <span class="badge badge-pill badge-shop px-2">2</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">MXN-$</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><span class="flag-icon flag-icon-us mr-1"></span> IDIOMA</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</template>

<script>
    export default {
        name: "header_top"
    }
</script>

<style scoped>

</style>