<template>
    <header id="header" class="w-100 py-3">
        <div class="container">
            <div class="w-100 d-flex justify-content-md-between justify-content-center flex-column flex-md-row">
                <div class="logo-container col-md-3 col-12 text-md-left text-center">
                    <img src="/images/logo-xcaret-mexico.png" class="img-fluid" alt="Logotipo Xcaret">
                </div>

                <nav id="nav-header" class="col-md-9 col-12 d-flex justify-content-md-end justify-content-center my-md-0 my-sm-4 my-1 align-items-center">
                    <ul class="nav flex-column flex-sm-row">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-home"></i> INICIO</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-camera"></i> MIS FOTOS</a></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">PREGUNTAS FRECUENTES</a>
                        </li>
                        <li class="nav-item d-flex brands">
                            <a class="nav-link" href="#"><i class="fab fa-facebook-f"></i></a>
                            <a class="nav-link" href="#"><i class="fab fa-twitter"></i></a>
                            <a class="nav-link" href="#"><i class="fab fa-instagram"></i></a>
                            <a class="nav-link" href="#"><i class="fab fa-youtube"></i></a>
                            <a class="nav-link" href="#"><i class="fab fa-pinterest-p"></i></a>
                        </li>
                    </ul>
                    
                </nav>
            </div>


            <nav id="step-nav" class="nav nav-pills nav-justified mt-4 mb-2">
                <li class="nav-item active"><a class="nav-link" href="#">QUIERO</a></li>
                <li class="nav-item"><a class="nav-link" href="#">SABER MAS DEL PARQUE...</a></li>
                <li class="nav-item"><a class="nav-link" href="#">COMPRAR MI ENTRADA A...</a></li>
                <li class="nav-item"><a class="nav-link" href="#">AHORRAR MAS</a></li>
                <li class="nav-item"><a class="nav-link" href="#">VER LA GALERIA DE...</a></li>
            </nav>
        </div>
    </header>
</template>

<script>
    export default {
        name: "header"
    }
</script>

<style scoped>

</style>