<template>
    <section id="main" class="w-100 py-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <nav id="current-navigation" aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page"><a href="https://www.xcaret.com/es/">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{seccion}}</li>
                        </ol>
                    </nav>
                </div>
            </div>

            <div class="row d-flex justify-content-between">
                <div class="col-lg-9 col-md-8 col-sm-12">
                    <GalleryVideo :video="video" :galeria="galeria" :mapa="mapa" />

                    <div class="mt-4">
                        <h4 class="text-md-left text-center"><strong>{{titulo}}</strong></h4>
                        <p class="mt-4">{{descripcion}}</p>
                    </div>

                    <h4 class="text-md-left text-center"><strong>Atractivos principales</strong></h4>
                    <div class="atraction-cont">
                        <Atractivo v-for="(atractivo, index) in atractivos" :key="index" :atractivo="atractivo" />
                    </div>
                </div>

                <Sidebar :cta="cta" />
            </div>

            <div class="row d-flex justify-content-center my-3">
                <a :href="cta" class="btn btn-call-to-big col-lg-4 col-md-6 col-sm-8">
                    Cotizar mi entrada ahora
                </a>
            </div>

            <div class="x-payment-types row py-2 px-0 px-md-4 d-flex justify-content-center">
                <div class="col-lg-10 col-md-11 col-12">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-2 col-md-4 col-12">
                            <strong class="month-limit">HASTA 9 MESES SIN INTERESES</strong>
                        </div>
                        <div class="col-lg-10 col-md-8 col-12">
                            <img src="/images/msi.png" class="img-fluid" alt="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <p>Con los principales bancos y tarjetas emitidas en México. No aplica con Paypal. <a class="more-options" href="#">Ver
                                opciones »</a></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</template>

<script>
    import Sidebar from './sidebar.vue';            //Sidebar del lado derecho
    import GalleryVideo from './gallery_video.vue'; //Contenedor de video, galeria URL y Street View
    import Atractivo from './atractivo.vue';        //Template de cada atractivo desde JSON

    export default {
        name: "main",
        data: function(){
            return{

            }
        },
        props: {
            descripcion: String,
            atractivos: Array,
            cta: String,
            seccion: String,
            titulo: String,
            video: String,
            mapa: String,
            galeria: Array
        },
        components: {
            Sidebar,
            GalleryVideo,
            Atractivo
        }
    }
</script>

<style scoped>

</style>