<template>
    <div id="sidebar" class="col-lg-3 col-md-4 col-sm-12 pl-xl-5">
        <div class="text-white text-center sidebar-header">
            <h4 class="pt-2">COMPRA AQUÍ</h4>
            <p class="px-1">Y obtén hasta un 15% de descuento</p>
        </div>
        <h5 class="price-offer">NOMBRE DEL PRODUCTO</h5>
        <div class="old-price my-2">
            <p class="mb-0">Precio regular</p>
            <p class="old">$0,000 MXN</p>
        </div>
        <h5 class="price-offer offer-lg">Precio en linea $0,000.00 MXN</h5>
        <form class="d-flex flex-column">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    <p>Agregar transortacion redonda</p>
                    <p><strong>$0,000 MXN</strong></p>
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="defaultCheck2">
                <label class="form-check-label" for="defaultCheck2">
                    <p>Agregar transortacion redonda</p>
                    <p><strong>$0,000 MXN</strong></p>
                </label>
            </div>

            <a :href="cta" class="btn btn-call-to align-self-center">
                COMPRAR AHORA
            </a>
        </form>

        <div class="sidebar-terms mt-4 mb-2">
            <p class="mb-0">*10% de descuento - reservando con 7-20 días de anticipación.</p>
            <p class="mb-0">15% de descuento -reservando con 21 días o más de anticipación.</p>
            <p class="mb-0">*Precios sujetos a cambios sin previo aviso.</p>
        </div>

        <h5 class="text-center squares-title">¿Por que reservar con nosotros?</h5>

        <div class="promo-squares row d-flex mx-0">
            <div class="col-4 text-center square">
                <h5>-10%</h5>
                <p>En tu compra*</p>
            </div>
            <div class="col-4 text-center square">
                <h5>-15%</h5>
                <p>En tu compra*</p>
            </div>
            <div class="col-4 text-center square">
                <h5>-50%</h5>
                <p>Para niños*</p>
            </div>
            <div class="col-4 text-center square">
                <h5><i class="fa fa-credit-card"></i></h5>
                <p>Meses sin intereses</p>
            </div>
            <div class="col-4 text-center square">
                <h5><i class="fa fa-lock"></i></h5>
                <p>Compra Segura</p>
            </div>
            <div class="col-4 text-center square">
                <h5>$</h5>
                <p>Precio +bajo garantizado</p>
            </div>
            <div class="col-4 text-center square">
                <h5>VIP</h5>
                <p>Taquillas especiales</p>
            </div>
            <div class="col-4 text-center square">
                <h5><i class="fa fa-cloud"></i></h5>
                <p>Garantia mal clima</p>
            </div>
            <div class="col-4 text-center square">
                <h5><i class="fa fa-shield-alt"></i></h5>
                <p>Seguro de viaje</p>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        name: "sidebar",
        props: {
            cta: String
        },
        data: function(){
            return{

            }
        }
    }
</script>

<style scoped>

</style>