//Estilos del Sass de Bootstrap
@import "~bootstrap/scss/bootstrap";

//Fonts de Google según la maqueta
@import url('https://fonts.googleapis.com/css?family=Abel|Comfortaa');

//Importación de fuentes de Font-Awesome y estilos
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts'; 
@import '~@fortawesome/fontawesome-free/scss/fontawesome'; 
@import '~@fortawesome/fontawesome-free/scss/solid'; 
@import '~@fortawesome/fontawesome-free/scss/regular'; 
@import '~@fortawesome/fontawesome-free/scss/brands';

//Variables de colores
$xcaret-bg: #000000;
$xcaret-green: #178203;

//Funciones reciclables
%font-abel{
    font-family: 'Abel';
}

%font-comfortaa{
    font-family: 'Comfortaa', cursive;
}

%btn-call-to{
    background-color: #000000;
    color: #FFF;
}

.body-app{
    @extend %font-abel;
    margin: 0;
}

#header-top{
    @extend %font-abel;
    .navbar-nav{
        .nav-item{
            .nav-link{
                color: #FFF;
                text-decoration: none;
                padding: 0 1.5em;
                font-size: 0.8em;
            }

            border-left: 1px solid #fff;

            &:first-child{
                border-left: none;
            }
            .badge-shop{
                border:1px #fff solid; 
                vertical-align: text-bottom;
            }
            .flag-icon {
                background-size: contain;
                background-position: 50%;
                background-repeat: no-repeat;
                position: relative;
                display: inline-block;
                width: 1.33333em;
                line-height: 1em;
                height: 1em;
                margin-top: 0.2em;
            }
            .flag-icon-us {
                background-image: url(/images/us.svg);
            }
        }
    }   
}
    

#header{
    background-color: #EBEBEB;
    @extend %font-abel;

    #nav-header{
        font-size: 0.8em;

        .nav{
            .nav-item{
                .nav-link{
                    padding: 0 1em;
                    color: #838383;
                    border-right: 1px #000 solid;

                    i{
                        font-size: 1.2em;
                    }
                }

                &.brands{
                    .nav-link{
                        border: none;

                        i{
                            font-size: 1.6em;
                        }
                    }                    
                }
            }
            
        }
    }

    #step-nav{

        .nav-item{
            border: 1px solid #000;
            border-left-width: 0px;
            border-radius: 0;
            font-size:0.9em;
            padding: 0.1em 3em 0.1em 3em;
            display: flex;
            flex-flow: column;
            justify-content: center;
            position: relative;

            &:first-child{
                border-left: 1px solid #000;
            }

            .nav-link{
                color: #000;
            }

            &.active{
                
                .nav-link{
                    color: #fff;
                }

                background-color: #000;

                &:after{
                    content:"";
                    position: absolute;
                    right: -1.2em;
                    top: 25%;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 1.2em 0 1.2em 1.2em;
                    border-color: transparent transparent transparent black;
                    z-index:2;
                }
            }
        }
    }
}

#main{
    @extend %font-abel;
    background-color: #FFF;

    #current-navigation{
        font-size: 1.3em;

        .breadcrumb{
            background-color: transparent;

            .breadcrumb-item{
                color: #000;

                a{
                    color: inherit;
                    text-decoration: none;
                }
            }

            .breadcrumb-item.active{
                font-weight: bolder;
            }
        }
    }

    .gallery-video-cont{
        width: 100%;
        
        .tab-content{
            background-color: #3D3D3D;
            height: 450px;

            .gallery-video-tab{
                height: 100%;
            }

            .tab-frame{
                width: 100%;
                height: 100%;
                border: 0;
            }
        }

        .gallery-video-nav{
            background-color: #000;

            .nav-item{
                border-radius: 0;
                border: 1px solid #fff;

                .nav-link{
                    cursor: pointer;
                }

                .nav-link.active{
                    background-color: #000;
                }
            }

        }

        #gallerySlider{
            .carousel-item{
                img{
                    max-height: 450px;
                }

                .carousel-caption{
                    color: #fff;

                    h4{
                        width: 80%;
                        position: relative;
                        left: 10%;
                        background-color: rgba(0,0,0,0.5);
                    }
                }
            }
        }

    }

    #sidebar{
        .sidebar-header{
            background-color: #000;

            p{
                font-size: 0.9em;
            }
        }

        .price-offer{
            font-size: 1em;
            font-weight: bolder;
        }

        .old-price{
            font-size: 0.9em;

            .old{
              text-decoration: line-through;
            }
        }

        .offer-lg{
            font-size: 1.2em;
        }


        .btn-call-to{
            @extend %btn-call-to;
            font-size: 1.2em;
            width: 100%;
        }

        .sidebar-terms{
            font-size: 0.7em;
        }

        .squares-title{
            font-weight: bolder;
            font-size: 1em;
        }

        .promo-squares{
            .square{
                border-radius: 8px;
                border: 1px solid #000;

                h5{
                    font-weight: bolder;
                    margin-bottom: 0;
                    margin-top: 0.4em;
                }

                p{
                    font-size: 0.6em;
                    margin-bottom: 0.4em;
                    text-transform: uppercase;
                }
            }
        }
    }

    .btn-call-to-big{
        @extend %btn-call-to;
        font-size: 1.1em;
    }

    .x-payment-types{
        border: 1px solid #000;
        color: #000;

        .month-limit{
            font-size: 0.9em;
        }

        .more-options{
            font-weight: bolder;
            text-decoration: underline;
            color: #000;
        }
    }
}

#footer-top{
    @extend %font-abel;
    background-color: #1A1A1A;

    .xcaret-brand{
        @extend %font-comfortaa;
    }

    .park-logo{
        img{
            width: 80%;
        }
    }

    .sitemap{
        font-weight: lighter;

        ul{
            padding: 0 0 0 1em;
            list-style: none;
        }

        a{
            font-size: 0.9em;
            color: #a2a2a2;
        }
    }
}

#footer{
    @extend %font-abel;
    font-size: 1em;

    .telefonos{
        p{
            line-height: 0.8em;
        }
    }

    .privacidad{
        p{
            line-height: 0.6em;
            font-size: 0.8em;
        }
    }
}

.x-bg-dark{
    background-color: $xcaret-bg;
}

//Responsive Design utilizando los breakpoints de bootstrap

//Desde pantallas grandes 1200px
@include media-breakpoint-down(lg) {
    .container{
        max-width: 95%;
    }
}

//Desde pantallas medianas 992px
@include media-breakpoint-down(md) {
    #header{

        #step-nav{
            .nav-item{
                flex-basis: unset;
                width: 50%;
                border-left: 1px solid #000;
    
    
                &.active{
                    width: 100%;
    
                    &:after{
                        display: none;
                    }
                }
            }
        }
        
    }
}

//Media query customizado para el navbar a un lado del logo
@media screen and (max-width: 930px){
    #header{
    
        #nav-header{
            font-size: 0.7em;
    
            .nav{
                .nav-item{
                    &.brands{
                        .nav-link{
                            border: none;
                            padding: 0 0.8em;
                        }                    
                    }
                }
                
            }
        }
    }
}

//Tamaño tablet 768px
@include media-breakpoint-down(sm) {

    #header-top{
        .navbar{
            width: 100%;

            .navbar-nav{
                .nav-item{
                    
                    text-align: center;
                    padding-top:1em;
                    padding-bottom:1em;
                    border-left: none;
                }
            }
        }
    }
    

    #main{
        .gallery-video-cont{

            .tab-content{
                height: 350px;
            }

            #gallerySlider{

                .carousel-item{

                    img{
                        max-height: 350px;
                    }
                }
            }
        }

        #sidebar{
            font-size: 1.3em;

            .promo-squares{
                .square{
                    padding: 1.1em 0;
                }
            }
        }
    }

    #footer-top{
        .park-logo{
            img{
                width: 70%;
            }
        }
    }

    #footer{
        .privacidad{
            p{
                line-height: 1.4em;
            }
        }
    }
}

//Moviles 565px
@include media-breakpoint-down(xs) {
    #header{
        
    
        #nav-header{
            font-size: 0.9em;
    
            .nav{
                .nav-item{
                    .nav-link{
                        border: none;
                        text-align: center;
                        margin: 0.4em 0;
                    }
                }
                
            }
        }
        
        #step-nav{
            .nav-item{
                width: 100%
            }
        }
        
    }


    #main{
        #sidebar{
            .promo-squares{
                .square{
                    padding: 0.8em 0.2em;
                }
            }
        }
    }
}